@import 'material-colors'

//fonts
$fontIcon: Material Icons
$mainFont: 'Roboto', sans-serif


body
    font-family: $mainFont !important

#signOut
    float: right
    color: material-color(red, 200)