@import models.user.User
@(banner: Html)(user: User, submitForm: Form[Prompt])
@import util.FormHelpers._

@layout("Submit a prompt")(banner) {

} {
    @if(user != null) {
        @if(user.getUserOptions.submissionsOpen) {
            @helper.form(action = routes.Application.submitPrompt(user.username)) {
                @helper.textarea(submitForm("Prompt"), args = 'rows -> 4, 'cols -> 50)
                <button type="submit">Submit Prompt</button>
            }
        } else {
            <div class="card">
                <h1>@user.username is not taking prompts right now.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel fermentum ipsum, et tincidunt mi. Cras facilisis magna nisl, non tristique dui elementum nec. Proin ullamcorper dictum risus eget placerat. Nunc justo nisl, pulvinar vitae sapien rutrum, porta venenatis orci. Nullam ut augue sed sem pretium elementum. Ut ut rhoncus erat, id mollis velit. Phasellus fringilla id sapien ut volutpat. Nullam dapibus quis lectus placerat tristique.</p>
                <p>Ut ut enim ante. Sed sed consectetur eros. Curabitur eu viverra metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi tempus consectetur libero in commodo. Nam ante tellus, feugiat sed imperdiet eu, consequat nec magna. Fusce sed felis tincidunt nisl mattis vehicula. Phasellus ac arcu eros.</p>
                <p>Ut eget pellentesque augue. Nulla velit leo, venenatis vel justo id, ullamcorper finibus dui. Aliquam in lorem in magna varius pretium. Morbi eu ullamcorper urna. Pellentesque eu sem felis. Fusce bibendum eleifend leo non accumsan. Curabitur id aliquet ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent venenatis lorem ante. Pellentesque ultricies feugiat augue eget viverra.</p>
                <p>Mauris sed rutrum mi, id venenatis tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Sed a suscipit ligula, sit amet aliquet nibh. Integer eleifend leo et justo tincidunt, sit amet pharetra turpis pellentesque. Integer tempus, odio et posuere convallis, nisl sem consequat felis, nec commodo metus risus nec erat. Cras sollicitudin odio vitae ullamcorper viverra. Aliquam in nulla posuere nibh accumsan pulvinar in id lorem. Vestibulum consequat ex magna, ut pretium risus pellentesque ut. Quisque nibh risus, consectetur ut purus eget, pellentesque consectetur lectus. In rutrum leo ac orci egestas, eget aliquet elit venenatis. Proin accumsan pretium ipsum volutpat tristique.</p>
                <p>Nam ut justo quis turpis pellentesque efficitur vitae vitae enim. Donec erat erat, tristique id odio non, tincidunt congue massa. Ut efficitur et mi quis suscipit. Nulla metus ante, consequat a dui id, pharetra tempor augue. Fusce sed tristique leo. Ut velit enim, semper vitae est at, egestas imperdiet lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut purus libero, cursus sed massa sed, gravida elementum ligula. Nulla condimentum varius ligula in sagittis. Quisque eleifend leo elit, semper accumsan justo aliquam nec. Suspendisse potenti. Praesent ut leo sapien. Proin accumsan, odio eu aliquet congue, velit nisi sollicitudin erat, eget porttitor nisl mi a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper pellentesque nisl, ut congue libero semper eu. Nulla vel nisl libero.</p>
            </div>
        }
    } else {
        <h1>User not found</h1>
    }

}

